{% extends 'main.html' %}

{% block content %}

<h1><i class="fa fa-info-circle"> </i> Information</h1>
<div class="information">
    <div class="map-info">
        <a href="https://www.google.bg/maps/place/ul.+%22Stara+Planina%22+14,+1000+Sofia+Center,+Sofia/@42.6993184,23.3310914,17z/data=
        !3m1!4b1!4m5!3m4!1s0x40aa857a60de8453:0x5777c4194a560048!8m2!
        3d42.6993184!4d23.3332854"><img src="http://localhost:8000/files/images/location.png" /></a>
    </div>
    <div class="text-info">
        <h3><i class="fa fa-google"> </i> Email: dariozehtinski03@gmail.com</h3>
        <h3><i class="fa fa-phone"> </i> Phone number: 0874206901</h3>
        <h3><i class="fa fa-clock-o"></i> Work time Monday-Friday: 9:00 - 18:30</h3>
        <h3>Weekend: 9:00 - 14:00</h3><br>
        <h3><i class="fa fa-instagram"> </i> Instagram: <a href="https://www.instagram.com/dariozehtinski/"> @dariozehtinski</a></h3>
        <h3><i class="fa fa-facebook-official"> </i> Facebook: <a href="https://www.facebook.com/profile.php?id=100014256603080"> Dario Zehtinski</a></h3><br>
        <h3><i class="fa fa-map-o"> </i> Address: улица Стара планина 14, 4003 Plovdiv</h3>
    </div>
</div>

{% endblock %}	