{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div class="login">
    <form method="POST" action="">
        {% csrf_token %}
        <br>
        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username"/><br>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter password"/><br>
        <br>
        <input type="submit" value="Login"/>

    </form>

    <p>Haven`t signed up yet?</p>
    <a href= "{% url 'register' %}">Sign Up</a>
</div>

{% else %}
<div class="register">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"/>
    </form>
    <p>Already signed up?</p>
    <a href= "{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock content %}